# Python virtual environment
venv/
.venv/
env/
ENV/
**/venv/
**/.venv/
**/env/
**/ENV/

# Python bytecode compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
logs/
npm-debug.log*

# Dependency directories
node_modules/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini 